*.log
.DS_Store
node_modules
coverage
.cache
packages/core/dist/**
!packages/core/dist/index.cjs
!packages/core/dist/index.js
packages/utils/dist/**
!packages/utils/dist/index.cjs
!packages/utils/dist/index.js
packages/dom/dist/**
!packages/dom/dist/index.cjs
!packages/dom/dist/index.js
packages/context-state/dist/**
!packages/context-state/dist/index.cjs
!packages/context-state/dist/index.js
