*.log
.DS_Store
node_modules
coverage
.cache
packages/core/dist/**
!packages/core/dist/index.cjs
packages/utils/dist/**
!packages/utils/dist/index.cjs
packages/dom/dist/**
!packages/dom/dist/index.cjs
